p.title {
    font-size:3.5em;
    margin-left: 5px;
}
p.subtitle {
    margin: .5em;
    font-size: 1.5em;
}

.schedule_title {
    font-weight: bold;
    font-size: 1.2em;
}
.schedulez {
    margin-left: .5em;
}
.info_qanda {
   margin-left: .5em; 
}
#cluster {
    padding-top: 30px;  
    min-width: 800px;
}

/* GENERIC HEX PROPERTIEZ */
.hex, .hex_connector {
    float: left;
    margin-left: 50px;
    /*margin-bottom: -28px;*/
}

.hex-row {
    clear: left;

} 

.hex-row.even {
    margin-left: 190px;
}

.pagination, .none {
    visibility:hidden;
}

.middle {
    padding-right: 5px;
    word-wrap: break-word;
}

.middle h1, .middle p {   
    padding-left: 3px;
    
}

.middle h1 {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 3.5em;
    font-family: sans-serif;
}

.big-header {
    font-size: 2.5em;
    pdding-left: .5em;
}

/* HEX (CONTENT) */
/*http://www.nczonline.net/blog/2012/07/05/ios-has-a-hover-problem/ */
/*.no-touch .hex:not(.notForHover):hover .top, .hex:not(.notForHover):hover .bottom {*/
.no-touch .hex:hover .top,  .hex:not(.notForHover):hover .bottom {    
    filter: alpha(opacity=50); 
    -khtml-opacity: 0.5;     
    -moz-opacity: 0.5;  
    opacity: 0.5;     
}

.hex:not(.notForHover):hover .middle {
    border: thin  solid #ededed;
}
.no-touch .hex .middle:hover . {
    
}

.current_info {
    margin-top: .5em;
    margin-left: 1em;
    margin-right: .3em;
}



.hex .top {
    width: 0;
    border-bottom: 92px solid #ff6600;
    border-left: 163px solid transparent;
    border-right: 163px solid transparent;
}

.hex .middle {
    width: 321px;
    height: 240px;
    background: #ff6600;
    color: #000;
    overflow: hidden;
    overflow-y: auto;
}


.hex .bottom {
    width: 0;
    border-top: 92px solid #ff6600;
    border-left: 163px solid transparent;
    border-right: 163px solid transparent;
}

.hex .no-background {
    background: #ff6600;
    color: #1a1a1a;
}

/* HEX_CONNECTOR */
.hex_connector .top {
    width: 0;
    border-bottom: 92px solid #1F1F1F;
    border-left: 163px solid transparent;
    border-right: 163px solid transparent;
}


.hex_connector .middle {
    width: 320px;
    height: 240px;
    background: #1F1F1F;
    color: #ff6600;
    overflow: hidden;
    font-size: 30px;
}


.hex_connector .bottom {
    width: 0;
    border-top: 92px solid #1F1F1F;
    border-left: 163px solid transparent;
    border-right: 163px solid transparent;
}

.northeast {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotate(-60deg);
    -moz-transform-origin: 50% 50%;
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -ms-transform-origin: 50% 50%;
    -o-transform: rotate(-60deg);
    -o-transform-origin: 50% 50%;
    transform: rotate(-60deg);
    transform-origin: 50% 50%;
}


.hex_east {
    
}

.southeast {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotate(60deg);
    -moz-transform-origin: 50% 50%;
    -moz-transform: rotate(60deg);
    -ms-transform-origin: 50% 50%;
    -ms-transform: rotate(60deg);
    -o-transform-origin: 50% 50%;
    -o-transform: rotate(60deg);
    transform-origin: 50% 50%;
    transform: rotate(60deg); 
}


/* END HEXX */

​