#makeMeScrollable
{

	height: 330px;
	position: relative;
	overflow: auto;
	width: 100%;
	overflow-y: hidden;
}

#makeMeScrollable div.scrollableArea img
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#scrollz {
	height: 330px;
} 

.horizontal-only
{
	height: auto;
	max-height: 330px;
}
.scrollableArea {
	/* default width (gets overridden by js) TODO: bigger value?*/
	width: 4666px;
}
#middle-scroller {
  position: relative;
	overflow: auto;
	width: 100%;
	overflow-x: hidden;
}

#middle-scroller div.scrollableArea img
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#bottom {
	bottom:0;
	height: 0;
	background-color:#ff6600;
}

#bottomline {

}

#paypal_donate {
	float:left;
	bottom:3px;
}
#cc {
	float:left;
	margin-left: 10px;
	padding-top: 4px;
	bottom:3px;
}
#livestream {
	float:right;
	margin-left: 10px;
	bottom:0;
}

#home_index {
min-height: 530px;
}

.cc_license_txt {
	color: #172322 !important
}


/* bottom hide */
#big {
	display: none;
}

