<div id="nav">
    <ul id="menu">
        <li class="logo">
            <img style="float:left;" alt="" src="/images/menu_left.png"/>
            <ul id="main">
                <li>
									PAYPAL
									</li>
								<li>
									<div class="copyright">
								   <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
								   <br />
								   <span class="title">MICRONEMEZ</span> is licensed under a <a class="cc_license_txt" rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>
							   </div>
								</li>
                
            </ul>
            
        </li>
        <li><a href="/" title="LAND:FORMATION">[ main ]</a>
         &nbsp;
        <a href="/info" title="INFO">[ info ]</a>
         &nbsp;
         <% if user_signed_in? %>
        [ <%= link_to "sign out", destroy_user_session_path, :title => current_user.username %> ]
        <% else %>
            <a href="/users/sign_in" title="you can be somebody!">[ users ]</a>
        <% end %>
         &nbsp;
        
      </li>
      
    <span class="notice wide_noticealert"><%= notice %></span>
    <span class="alert wide_noticealert"><%= alert %></span>
    </ul>
    
</div>

<span class="menuspan">&nbsp;</span>
<div style="float:none; clear:both;"></div>