<div id="nav" style="margin-left:50px;">
    <ul id="menu">
        <li class="logo">
            <img style="float:left;" alt="" src="/images/menu_left.png"/>
            <ul id="main">
                <li>
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="PZL792WTERYNG">
									<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit" alt="PayPal - The safer, easier way to DONATE online!">
									</form>
									</li>
								<li>
									<div class="copyright">
								   <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
								   <br />
								   <span class="title">MICRONEMEZ</span> is licensed under a <a class="cc_license_txt" rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>
							   </div>
								</li>
                
            </ul>
            
        </li>
        <!-- li><a href="/" title="LAND:FORMATION">[ main ]</a -->
         &nbsp;
        <a href="/info" title="INFO">[ info ]</a>
         &nbsp;
        
      </li>
      
    <span class="notice wide_noticealert"><%= notice %></span>
    <span class="alert wide_noticealert"><%= alert %></span>
    </ul>
    
</div>

<span class="menuspan">&nbsp;</span>
<div style="float:none; clear:both;"></div>