 <ul class="playlist">
  <li><a href="/audio/hexx/drivethetruck.mp3">drivethetruck</a></li>
  <li><a href="/audio/hexx/unconscious__dead.mp3">unconscious__dead</a></li>
  <li><a href="/audio/hexx/phone_numberz.mp3">phone_numberz</a></li>
  <li><a href="/audio/hexx/LAG_EYEBOLT.mp3">LAG_EYEBOLT</a></li>
  <li><a href="/audio/hexx/puttheknifedown.mp3">puttheknifedown</a></li>
  <li><a href="/audio/hexx/chppr_shrdr.mp3">chppr_shrdr</a></li>
  <li><a href="/audio/hexx/receivethisfax.mp3">receivethisfax</a></li>
  <li><a href="/audio/hexx/471.mp3">471</a></li>
	<li><a href="/audio/hexx/0003.mp3">0003</a></li>
  <li><a href="/audio/hexx/00482.mp3">00482</a></li>
  <li><a href="/audio/hexx/BODYBAGG.mp3">BODYBAGG</a></li>
  <li><a href="/audio/hexx/hear__me__now_TOM.mp3">hear__me__now_TOM</a></li>
  <li><a href="/audio/hexx/jimmie_leggz_VS_dear_god_why.mp3">jimmie_leggz_VS_dear_god_why</a></li>
  <li><a href="/audio/hexx/00491.mp3">00491</a></li>
  <li><a href="/audio/hexx/bzz__lfo_tractor_beam.mp3">bzz__lfo_tractor_beam</a></li>
  <li><a href="/audio/hexx/jr__not_allowed_chppr_shrddr.mp3">jr__not_allowed_chppr_shrddr</a></li>
  <li><a href="/audio/hexx/441.mp3">441</a></li>
  <li><a href="/audio/hexx/00211.mp3">00211</a></li>
  <li><a href="/audio/hexx/451.mp3">451</a></li>
  <li><a href="/audio/hexx/monobriz00.mp3">monobriz00</a></li>
  <li><a href="/audio/hexx/00212.mp3">00212</a></li>
  <li><a href="/audio/hexx/youhaveamouth.mp3">youhaveamouth</a></li>
  <li><a href="/audio/hexx/0044.mp3">0044</a></li>
  <li><a href="/audio/hexx/472.mp3">472</a></li>
  <li><a href="/audio/hexx/fbi.mp3">fbi</a></li>
  <li><a href="/audio/hexx/0046.mp3">0046</a></li>
  <li><a href="/audio/hexx/976097.mp3">976097</a></li>
  <li><a href="/audio/hexx/0047.mp3">0047</a></li>
  <li><a href="/audio/hexx/america_truck.mp3">america_truck</a></li>
  <li><a href="/audio/hexx/head_strap.mp3">head_strap</a></li>
  <li><a href="/audio/hexx/onlychancetosurvive.mp3">onlychancetosurvive</a></li>
  <li><a href="/audio/hexx/00481.mp3">00481</a></li>
 </ul>

<div id="control-template">
  <!-- control markup inserted dynamically after each link -->
  <div class="controls">
   <div class="statusbar">

    <div class="loading"></div>
     <div class="position"></div>
   </div>
  </div>
  <div class="timing">
   <div id="sm2_timing" class="timing-data">
    <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
  </div>

  <div class="peak">
   <div class="peak-box"><span class="l"></span><span class="r"></span>
   </div>
  </div>
 </div>

 <div id="spectrum-container" class="spectrum-container">
  <div class="spectrum-box">

   <div class="spectrum"></div>
  </div>
 </div> 
