<div id="nav" style="margin-left:50px;">
    <ul id="menu">
        <li class="logo">
            <img style="float:left;" alt="" src="/images/menu_left.png"/>
            <ul id="main">
                <li>
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="PZL792WTERYNG">
									<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to DONATE online!">
									</form>
									</li>
								<li>
									<div class="copyright">
								   <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
								   <br />
								   <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/MovingImage" property="dct:title" rel="dct:type">MCRNMZ</span> is licensed under a <a class="cc_license_txt" rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>
							   </div>
								</li>
                
            </ul>
            
        </li>
        <li><a href="#information" title="#information">[ info ]</a>
        &nbsp;
        <a href="#live" title="#live">[ live ]</a>
        </li>
        <!--<li class="searchContainer">
            <div>
            <input type="text" id="searchField" />
            <img src="/images/magnifier.png" alt="search" onclick="alert('sssearch')" /></div>
            <ul id="search">
                <li>
                    <img class="corner_inset_left" alt="" src="/images/corner_inset_left.png"/>
                    <input id="cbxAll" type="checkbox" />All
                    <img class="corner_inset_right" alt="" src="/images/corner_inset_right.png"/>
                </li>
                <li><input id="pump" type="checkbox" />pump</li>
                <li><input id="throbb" type="checkbox" />throbb</li>
                <li><input id="poop" type="checkbox" />poop</li>
                <li><input id="bill" type="checkbox" />bill</li>
                <li class="last">
                    <img class="corner_left" alt="" src="/images/corner_left.png"/>
                    <img class="middle" alt="" src="/images/dot.gif"/>
                    <img class="corner_right" alt="" src="/images/corner_right.png"/>
                </li>
            </ul>
        </li>
        -->
    </ul>
    <img style="float:left;" alt="" src="/images/menu_right.png"/>
    
</div>
<span class="menuspan">&nbsp;</span>
<div style="float:none; clear:both;"></div>
