<div id="home_index">
	
	<div id="makeMeScrollable">
		<%= render "video" %>
	</div>
	<div id="middle-scrollr" class="scroll-pane">
		<%= render "audio" %>
	</div>
	<div id="bottom">
		<%= render "bottom" %>
	</div>

</div>