<div id="home_index">
	
	<div id="top">
		<%= render "nav" %>
	</div>	
	<div id="makeMeScrollable" class="scrollWrapper video-scroll-pane horizontal-only">
		<%= render "video" %>
	</div>
	<div id="middle-scrollr" class="audio-scroll-pane">
		<%= render "audio" %>
	</div>
	<div id="bottom">
		<%= render "bottom" %>
	</div>

</div>