<h1>MICRONEMEZ</h1>
<h4>THOSE INNER MENTAL CONTEXT CLUES THAT SHADE OUR MINDS' ACTIVITIES IN WAYS WE CAN RARELY EXPRESS</h4>
<ul class="hmenu">
  <%#= render 'devise/menu/registration_items' %>
  <%= render 'sessions/login_items' %>
</ul>
