
micronemez_railz3/config/initializers/kaltura.rb

micronemez_railz3/db/development.sqlite3.bak

micronemez_railz3/db/development.sqlite3.bak2.bak

*.swp
*.redcar
icecast/icecast.xml
*.mp3
*.mp4
*.ogg
*.ogv
*.jpg
icecast/micronemez-video.liq

.DS_Store

micronemez_railz3/config/kaltura_config.yml

micronemez_railz3/config/rackspace_cloudfiles.yml

micronemez_railz3/micronemez_development
