<% content_for :header do %>

<% end %>

<div id="info-container" class="transitions-enabled infinite-scroll clearfix">

	<div class="">
		<img src="/assets/0_jq6xa4va.jpg" width="326" title=""	alt=""/>
		<p>
			<%= t :info_greeting %> 
			<br />
			<%= t :info_intro %>
			<h2 class="big-header"><%= t :info_qanda_h1 %></h2>
			<p class="info_qanda"><%= t :info_qanda %></p>
		</p>

	</div>

</div> <!-- #container -->

<nav id="page-nav"><a href="../pages/2.html"></a></nav>
