body {
  padding: 0;
  margin: 0;
}
body, #entry {
  background: #ff6600;
  color: #22252a;
}
table {
  font-family: DejaVu Sans Mono, fixed; 
  font-size: x-large;
}
tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0
}

a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }

#nickInput, #connectButton {
  width: 66%;
  font-size: 1em;
  border: thin solid #ededed;
  background-color:#1a1a1a;
  color: #ff6600;
    -webkit-border-radius: 0.2em;
      -moz-border-radius: 0.2em;
          border-radius: 0.2em;
}

#loading, #connect {
  background: #ff66600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#loading { z-index: 10000000; }
#connect { z-index: 10000001; }

#loading p, #connect fieldset  {
  font-family: DejaVu Sans Mono, fixed; 
  
  border: 0;
}

#toolbar {
  position: fixed;
  font-size: 8pt;
  color: #ededed;
  width: 100%; 
  bottom: 0;
  background: #1a1a1a;
}

#entry {
  width: 100%;
  font-size: 14pt;
  padding-left: 1em;
  margin: 0;
  border-width: 0;
  outline-width: 0;
  clear: both;
}

#log {
  display: block;
  /* enough padding to clear the toolbar.. is there a better way to do this? */
  padding-bottom: 2.5em; 
  background: inherit;
  overflow: hidden;
}

.br {
  display: block;
}

/* not very important info */
.notice td, .join td, .part td, .message .date { color: #555; }
.error td { color: #933; }
.personal .nick, .notice .nick { color: #cd5; }

.message {
  margin: 0.1em 0;
}

.message td {
  vertical-align: top;
}

.nick { 
  font-weight: bold;
  padding: 0 1em 0 0.5em;
}

.nick a {
  color: inherit;
}

#toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toolbar li {
  display: block; 
  float: left;
  margin: 0 0 0 2em;
}

#usersLink {
  color: inherit;
}

#status_togg {
  min-width: 25%;
}
#status_togg:hover {
  background-color: yellow;
}
.highlight {
  font-weight: bold;
  font-style: italic;
}