<% content_for :header do %>
  <%= javascript_include_tag 'hexx_assets' %>
  <%= javascript_include_tag 'hexx' %>
<% end %>
<div id="cluster">
    <div class="hex-row row1">
        
        

        <div class="hex">
            <div class="top"></div>
            <div class="middle info z"><p class="title">micronemez</p><p class="subtitle" title="--marvin minisky">those inner mental context clues that shade our minds&#039; activities in ways we can rarely express.</p></div>
            <div class="bottom"></div>
        </div>
				<div class="hex z">
				    <div class="top"></div>
				    <div class="middle"><h1>CURRENT<br />BROADCAST</h1></div>
				    <div class="bottom"></div>
				</div>
        
    </div>
    <div class="hex-row even row2">
				<div class="hex">
            <div class="top"></div>
            <div class="middle schedule z"><h1>UPCOMING<br />EVENTS</h1></div>
            <div class="bottom"></div>
        </div>
        <div class="hex">
            <div class="top"></div>
            <div class="middle archive z"><h1>THE <br/>ARCHIVE</h1></div>
            <div class="bottom"></div>
        </div>
        
       


    </div>
   <!--div class="hex-row row3">
        
                

       <div class="hex_connector">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
        <div class="hex_connector">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>


    </div-->
    
    

</div>
    

​
