<% content_for :header do %>
  <script type='text/javascript'>

	</script>


	<style type="text/css">
  
	</style>

<% end %>

<% if @video %>
	<table>

		<% @video.attributes.each do |attr_name, attr_value| %>
		  <tr>
		    <td><%= attr_name %></td> <td><%= attr_value %></td>
		  </tr>
		<% end %>

<% end %>